services:
  redis:
    container_name: redis
    image: redis:8.0-bookworm
    ports:
      - 6379:6379
    volumes:
      - ./data:/data
    environment:
      - TZ=Asia/Shanghai
    command: redis-server --requirepass REDIS_PASSWORD
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
